<launch> 
  <node pkg="detection_d435i" type="pixel_to_meters_node" 
  name="pixel_to_meters_node" output="screen"/>
 
  <node pkg="detection_d435i" type="object_detection_rgb_node" 
  name="object_detection_rgb_node" output="screen"/> 

  <node pkg="tf2_ros" type="static_transform_publisher" name="cameraToBodyTF" args="0.13 -0.03 -0.12 0 0 0 body camera 100" />




  <!--include file="$(find realsense2_camera)/launch/rs_camera.launch"/-->

</launch> 
